@use "config" as *;

body {
    width: 100vw;
    height: 100vh;
    font-family: "Manrope", sans-serif;
}

h1 {
    font-size: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
